In [106]:
import os
import pandas as pd
import matplotlib.pyplot as plt

In [142]:
import xlrd
xlrd.__version__

'1.2.0'

In [143]:
#!pip install xlrd

In [155]:
path= './'
data_links= os.listdir(path)

In [156]:
data_links

['46_PIB_par_habitant_dolar_US_courants.xlsx',
 '199_Décaissements_bruts_de_lAPD_pour_pêche_totaldesdonateur.xlsx',
 '44_PIB_par_habitant_UCL_constant.xlsx',
 '180_Superficie_agricole_irriguée.xlsx',
 '42_Croissance_PIB.xlsx',
 '138_Chômage_hommes_BIT.xlsx',
 '137_Chômage_feminin.xlsx',
 '135_Taux_de_pauvreté_rurale.xlsx',
 '65_Dépenses_consommation_finale.xlsx',
 '13_Enfants_non_scolarisés_filles.xlsx',
 '39_PIB_LCU_constant.xlsx',
 '29_Emploi_dans_lagriculture_fem.xlsx',
 '55_RNB_parhabitant_USD_constant.xlsx',
 '178_Décaissements_bruts_de_lAPD_pour_lagriculture_total_des_donateurs_du_CAD.xlsx',
 '177_Emploi_dans_l_agriculture.xlsx',
 '173_Population_économiquement_active_dans_lagriculture_femmes.xlsx',
 '192_Tracteurs_agricoles_exportations.xlsx',
 '59_Croissance_RNB_parhabitant.xlsx',
 '193_Tracteurs_agricoles_exportations.xlsx',
 '94_Taux_pauvreté_multidimensionnelle.xlsx',
 '33_Dette_exterieure_RNB.xlsx',
 '163_Agriculture_valeur_ajoutée.xlsx',
 '.DS_Store',
 '161_Valeur_ajoutée_agricole_partravailleur.xlsx',
 '182_Terres_agricoles.xlsx',
 '41_PIB_USD_Courant.xlsx',
 '194_Tracteurs_agricoles_importation.xlsx',
 '8_Rendement_céréalier.xlsx',
 '155_Score_indice_Women_Business_and_the_Law.xlsx',
 '196_Exportations_alimentaires_hors_poisson.xlsx',
 '153_Travailleurs_salariés_total_BIT.xlsx',
 '197_Importations_alimentaires_hors_poisson.xlsx',
 '154_Productivité_deau_totale.xlsx',
 '108_Rentes_pétrolières.xlsx',
 '130_Prévalence_de_lasous_alimentation.xlsx',
 '37_Superficie_forestiere_Km_carré.xlsx',
 'Untitled.ipynb',
 '204_Part_des_femmes_employées_dans_le_secteur_non_agricole.xlsx',
 '6_oiseaux_menacées.xlsx',
 '2_Prelevement_eau_douce.xlsx',
 '102_Rentes_gaz_naturel.xlsx',
 '160_Indice_de_production_agricole.xlsx',
 '5_Production_Aquacole.xlsx',
 '36_Superficie_forestiere_pourcent.xlsx',
 '126_Prévalence_d_insécurité_alimentaire_sévère.xlsx',
 '184_Terres_agricoles.xlsx',
 '139_Chômage_hommes.xlsx',
 '129_Prévalence_retard_croissance_taille_pour_âge_hommes.xlsx',
 '206_Importations_agricoles_totales.xlsx',
 '174_Population_économiquement_active_dans_lagriculture_hommes.xlsx',
 '164_Agriculture_valeur_ajoutée.xlsx',
 '38_Rentes_foresterie.xlsx',
 '175_Salariés_agriculture_femmes.xlsx',
 '76_Taux_alphabétisation_total_adulte.xlsx',
 '159_Indice_production_agricole.xlsx',
 '140_Chômage_total_BIT.xlsx',
 '89_Commerce_de_marchandises.xlsx',
 '150_Croissance_population_urbaine.xlsx',
 '120_Pollution_atmosphérique_exposition_annuelle_moyenne.xlsx',
 '200_Décaissements_bruts_APD_pour_la_foresterie_total_des_donateurs_du_CAD.xlsx',
 '49_PIB_parhabitant_PPA_dollars.xlsx',
 '80_Taux_alphabétisation_total_jeunes.xlsx',
 '11_Enfants_au_travail_Total.xlsx',
 '169_Emploi_des_enfants_dans_lagriculture.xlsx',
 '30_Emploi_dans_lagriculture_hom.xlsx',
 '149_Population_urbaine.xlsx',
 '71_Emploi_informel_hommes.xlsx',
 '123_Taux_pauvreté_seuils_pauvreté_nationaux.xlsx',
 '47_Croissance_PIB_parhabitant.xlsx',
 '195_Tracteurs_agricoles_importations.xlsx',
 'HORTICULTURE.xlsx',
 '181_Terres_agricoles_irriguées_du_total_des_terres_agricoles.xlsx',
 '187_Émissions_de_méthane_agricole.xlsx',
 '136_Chômage_féminin_BIT.xlsx',
 '142_Chômage_jeunes_femmes_OIT.xlsx',
 '14_Enfants_non_scolarisés_garçons.xlsx',
 '9_Enfants_au_travail_femmes.xlsx',
 '170_Emploi_des_enfants_dans_lagriculture_femmes.xlsx',
 '1_Agriculture_valeur_ajoutée_par_travailleur.xlsx',
 '162_Agriculture_valeur_ajoutée.xlsx',
 '127_Prévalence_retard_croissance_taille_pour_âge.xlsx',
 '10_Enfants_au_travail_Hommes.xlsx',
 '66_Importations_biens_services.xlsx',
 '15_Scolarité_obligatoire_durée.xlsx',
 '69_Emploi_informel.xlsx',
 '185_Machines_agricoles_tracteurs.xlsx',
 '191_Importations_matières_premières_agricoles.xlsx',
 '18_Solde_compte_courant.xlsx',
 '50_PIB_par_personne_occupée.xlsx',
 "121_Pollution_de_l'air_PM2_5.xlsx",
 '147_Chômage_total_des_jeunes.xlsx',
 '70_Emploi_informel_féminin.xlsx',
 '106_Aide_publique_au_développement_nette_reçue.xlsx',
 '43_PIB_par_habitant.xlsx',
 '201_Population_non_agricole.xlsx',
 '188_Émissions_doxyde_nitreux_agricoles.xlsx',
 '67_Inflation_prix_à_laconsommatio.xlsx',
 '146_Chômage_total_des_jeunes_BIT.xlsx',
 '183_Terres_agricoles.xlsx',
 '58_RNB_parhabitant_dollar_US.xlsx',
 '.ipynb_checkpoints',
 '87_Aires_marines_protégées.xlsx',
 '28_Emploi_dans_lagriculture.xlsx',
 '148_Population_urbaine.xlsx',
 '158_Rendement_en_orge.xlsx',
 '168_Prélèvements_annuels_deau_douce_agriculture.xlsx',
 '19_Service_de_la_dette_aux_exportations.xlsx',
 '45_PIB_par_habitant_UCL_actuel.xlsx',
 '152_Travailleurs_salariés_hommes_BIT.xlsx',
 '40_PIB_actuel.xlsx',
 '125_Prévalence_de_insécurité_alimentaire_modérée_ou_sévère.xlsx',
 '7_pêches_de_capture_production.xlsx',
 '198_Indice_des_engagements_Accordgénéral_surlecommerce.xlsx',
 '190_Exportations_matières_premières_agricoles.xlsx',
 '171_Emploi_des_enfants_dans_lagriculture_hommes.xlsx',
 '31_Export_B&S_PIB.xlsx',
 '32_Export_B&S_croissance_an.xlsx',
 '53_RNB_USD_constant.xlsx',
 '172_Population_économiquement_active_dans_lagriculture.xlsx',
 'SPECULATIONS_AGRICOLE.xlsx',
 '202_Taux_de_croissance_duPIBagricole.xlsx',
 '143_Chômage_jeunes_femmes.xlsx',
 '122_Taux_pauvreté_1_90_dollarpar_jour.xlsx',
 '17_Travailleurs_familiaux_hom.xlsx',
 '151_Travailleurs_salariés_femmes_BIT.xlsx',
 '124_Enseignement_préscolaire_durée.xlsx',
 '141_Chômage_total.xlsx',
 '118_Médecins.xlsx',
 '186_Machines_agricoles_tracteurs.xlsx',
 '35_IDE_net_PIB.xlsx',
 '189_Population_agricole.xlsx',
 '16_Travailleurs_familiaux_fem.xlsx',
 '176_Salariés_agriculture_hommes.xlsx',
 '203_Taux_croissance_du_PIB_agricole_réel_par_habitant.xlsx',
 '179_Décaissements_bruts_de_lAPD_pour_le_secteur_de_lagriculture_de_la_foresterie_et_delapêche.xlsx',
 '48_PIB_par_habitant_PPA_dollar.xlsx',
 '145_Chômage_jeunes_hommes.xlsx',
 '12_Enfants_non_scolarisés.xlsx',
 'ELEVAGE.xlsx',
 '144_Chômage_jeunes_hommes_OIT.xlsx',
 '205_Exportations_agricoles_totales.xlsx',
 '128_Prévalence_retard_croissance_taille_pour_âge_femmes.xlsx']

In [157]:
data_links[24]

'182_Terres_agricoles.xlsx'

In [109]:
len(data_links)

142

In [9]:
dfs= ["df_"+str(i) for i in range(len(data_links))]

In [154]:
dt= pd.read_excel(data_links[23], header= None).T
dt.head()

        0                                                  1
0  ANNEES  Valeur ajoutée agricole par travailleur (const...
1    1963                                                 ..
2    1964                                                 ..
3    1965                                                 ..
4    1966                                                 ..

In [133]:
dt.columns = dt.iloc[0]

In [134]:
dt= dt.drop(0)
dt.head()

0 ANNEES PIB par habitant (UCL constant)
1   1990                          552004
2   1991                          549383
3   1992                          539879
4   1993                          531168
5   1994                          516369

In [136]:
dt

0  ANNEES PIB par habitant (UCL constant)
1    1990                          552004
2    1991                          549383
3    1992                          539879
4    1993                          531168
5    1994                          516369
6    1995                          529722
7    1996                          526879
8    1997                          530365
9    1998                          548618
10   1999                          569967
11   2000                          574452
12   2001                          586498
13   2002                          576125
14   2003                          599599
15   2004                          619027
16   2005                          637322
17   2006                          636250
18   2007                          650257
19   2008                          658731
20   2009                          654503
21   2010                          659480
22   2011                          650839
23   2012                          665350
24   2013                          665244
25   2014                          689610
26   2015                          713204
27   2016                          737537
28   2017                          770292
29   2018                          796951
30   2019                          816205

In [135]:
len(dt.ANNEES.value_counts())

30

In [129]:
dt1= pd.read_excel(data_links[3], header= None).T
dt1.head()

        0                             1
0  ANNEES  Superficie agricole irriguée
1    1963                            ..
2    1964                            ..
3    1965                            ..
4    1966                            ..

In [130]:
dt1= pd.read_excel(data_links[3], header= None).T
dt1.columns = dt1.iloc[0]
dt1= dt1.drop(0)

In [131]:
dt1

0  ANNEES Superficie agricole irriguée
1    1963                           ..
2    1964                           ..
3    1965                           ..
4    1966                           ..
5    1967                           ..
6    1968                           ..
7    1969                           ..
8    1970                           ..
9    1971                           ..
10   1972                           ..
11   1973                           ..
12   1974                           ..
13   1975                           ..
14   1976                           ..
15   1977                           ..
16   1978                           ..
17   1979                           ..
18   1980                           ..
19   1981                           ..
20   1982                           ..
21   1983                           ..
22   1984                           ..
23   1985                           ..
24   1986                           ..
25   1987                           ..
26   1988                           ..
27   1989                           ..
28   1990                           ..
29   1991                           ..
30   1992                           ..
31   1993                           ..
32   1994                           ..
33   1995                           ..
34   1996                           ..
35   1997                           ..
36   1998                           ..
37   1999                           ..
38   2000                           ..
39   2001                           ..
40   2002                        56000
41   2003                        54000
42   2004                        60000
43   2005                        67000
44   2006                        63000
45   2007                           ..
46   2008                           ..
47   2009                           ..
48   2010                           ..
49   2011                           ..
50   2012                           ..

In [67]:
len(dt1.ANNEES.value_counts())

50

In [163]:
if (1963 and 2019) in list(dt1.ANNEES.value_counts().keys()):
    print("Cool")
else:
    print('bon')

bon

In [69]:
#dt1.merge(dt, on= ['ANNEES'])
dt1.merge(dt, how= 'outer')

0   ANNEES Superficie agricole irriguée PIB par habitant (UCL constant)
0   1963.0                           ..                             NaN
1   1964.0                           ..                             NaN
2   1965.0                           ..                             NaN
3   1966.0                           ..                             NaN
4   1967.0                           ..                             NaN
5   1968.0                           ..                             NaN
6   1969.0                           ..                             NaN
7   1970.0                           ..                             NaN
8   1971.0                           ..                             NaN
9   1972.0                           ..                             NaN
10  1973.0                           ..                             NaN
11  1974.0                           ..                             NaN
12  1975.0                           ..                             NaN
13  1976.0                           ..                             NaN
14  1977.0                           ..                             NaN
15  1978.0                           ..                             NaN
16  1979.0                           ..                             NaN
17  1980.0                           ..                             NaN
18  1981.0                           ..                             NaN
19  1982.0                           ..                             NaN
20  1983.0                           ..                             NaN
21  1984.0                           ..                             NaN
22  1985.0                           ..                             NaN
23  1986.0                           ..                             NaN
24  1987.0                           ..                             NaN
25  1988.0                           ..                             NaN
26  1989.0                           ..                             NaN
27  1990.0                           ..                          552004
28  1991.0                           ..                          549383
29  1992.0                           ..                          539879
30  1993.0                           ..                          531168
31  1994.0                           ..                          516369
32  1995.0                           ..                          529722
33  1996.0                           ..                          526879
34  1997.0                           ..                          530365
35  1998.0                           ..                          548618
36  1999.0                           ..                          569967
37  2000.0                           ..                          574452
38  2001.0                           ..                          586498
39  2002.0                        56000                          576125
40  2003.0                        54000                          599599
41  2004.0                        60000                          619027
42  2005.0                        67000                          637322
43  2006.0                        63000                          636250
44  2007.0                           ..                          650257
45  2008.0                           ..                          658731
46  2009.0                           ..                          654503
47  2010.0                           ..                          659480
48  2011.0                           ..                          650839
49  2012.0                           ..                          665350
50  2013.0                          NaN                          665244
51  2014.0                          NaN                          689610
52  2015.0                          NaN                          713204
53  2016.0                          NaN                          737537
54  2017.0                          NaN                          770292
55  2018.0                          NaN                          796951
56  2019.0                          NaN                          816205

In [ ]:
dt1.join(dt.set_index('ANNEES'), on= 'ANNEES')

In [80]:
data_links

['46_PIB_par_habitant_dolar_US_courants.xlsx',
 '199_Décaissements_bruts_de_lAPD_pour_pêche_totaldesdonateur.xlsx',
 '44_PIB_par_habitant_UCL_constant.xlsx',
 '180_Superficie_agricole_irriguée.xlsx',
 '42_Croissance_PIB.xlsx',
 '138_Chômage_hommes_BIT.xlsx',
 '137_Chômage_feminin.xlsx',
 '135_Taux_de_pauvreté_rurale.xlsx',
 '65_Dépenses_consommation_finale.xlsx',
 '13_Enfants_non_scolarisés_filles.xlsx',
 '39_PIB_LCU_constant.xlsx',
 '29_Emploi_dans_lagriculture_fem.xlsx',
 '55_RNB_parhabitant_USD_constant.xlsx',
 '178_Décaissements_bruts_de_lAPD_pour_lagriculture_total_des_donateurs_du_CAD.xlsx',
 '177_Emploi_dans_l_agriculture.xlsx',
 '173_Population_économiquement_active_dans_lagriculture_femmes.xlsx',
 '192_Tracteurs_agricoles_exportations.xlsx',
 '59_Croissance_RNB_parhabitant.xlsx',
 '193_Tracteurs_agricoles_exportations.xlsx',
 '94_Taux_pauvreté_multidimensionnelle.xlsx',
 '33_Dette_exterieure_RNB.xlsx',
 '163_Agriculture_valeur_ajoutée.xlsx',
 '161_Valeur_ajoutée_agricole_partravailleur.xlsx',
 '182_Terres_agricoles.xlsx',
 '41_PIB_USD_Courant.xlsx',
 '194_Tracteurs_agricoles_importation.xlsx',
 '8_Rendement_céréalier.xlsx',
 '155_Score_indice_Women_Business_and_the_Law.xlsx',
 '196_Exportations_alimentaires_hors_poisson.xlsx',
 '153_Travailleurs_salariés_total_BIT.xlsx',
 '197_Importations_alimentaires_hors_poisson.xlsx',
 '154_Productivité_deau_totale.xlsx',
 '108_Rentes_pétrolières.xlsx',
 '130_Prévalence_de_lasous_alimentation.xlsx',
 '37_Superficie_forestiere_Km_carré.xlsx',
 'Untitled.ipynb',
 '204_Part_des_femmes_employées_dans_le_secteur_non_agricole.xlsx',
 '6_oiseaux_menacées.xlsx',
 '2_Prelevement_eau_douce.xlsx',
 '102_Rentes_gaz_naturel.xlsx',
 '160_Indice_de_production_agricole.xlsx',
 '5_Production_Aquacole.xlsx',
 '36_Superficie_forestiere_pourcent.xlsx',
 '126_Prévalence_d_insécurité_alimentaire_sévère.xlsx',
 '184_Terres_agricoles.xlsx',
 '139_Chômage_hommes.xlsx',
 '129_Prévalence_retard_croissance_taille_pour_âge_hommes.xlsx',
 '206_Importations_agricoles_totales.xlsx',
 '174_Population_économiquement_active_dans_lagriculture_hommes.xlsx',
 '164_Agriculture_valeur_ajoutée.xlsx',
 '38_Rentes_foresterie.xlsx',
 '175_Salariés_agriculture_femmes.xlsx',
 '76_Taux_alphabétisation_total_adulte.xlsx',
 '159_Indice_production_agricole.xlsx',
 '140_Chômage_total_BIT.xlsx',
 '89_Commerce_de_marchandises.xlsx',
 '150_Croissance_population_urbaine.xlsx',
 '120_Pollution_atmosphérique_exposition_annuelle_moyenne.xlsx',
 '200_Décaissements_bruts_APD_pour_la_foresterie_total_des_donateurs_du_CAD.xlsx',
 '49_PIB_parhabitant_PPA_dollars.xlsx',
 '80_Taux_alphabétisation_total_jeunes.xlsx',
 '11_Enfants_au_travail_Total.xlsx',
 '169_Emploi_des_enfants_dans_lagriculture.xlsx',
 '30_Emploi_dans_lagriculture_hom.xlsx',
 '149_Population_urbaine.xlsx',
 '71_Emploi_informel_hommes.xlsx',
 '123_Taux_pauvreté_seuils_pauvreté_nationaux.xlsx',
 '47_Croissance_PIB_parhabitant.xlsx',
 '195_Tracteurs_agricoles_importations.xlsx',
 'HORTICULTURE.xlsx',
 '181_Terres_agricoles_irriguées_du_total_des_terres_agricoles.xlsx',
 '187_Émissions_de_méthane_agricole.xlsx',
 '136_Chômage_féminin_BIT.xlsx',
 '142_Chômage_jeunes_femmes_OIT.xlsx',
 '14_Enfants_non_scolarisés_garçons.xlsx',
 '9_Enfants_au_travail_femmes.xlsx',
 '170_Emploi_des_enfants_dans_lagriculture_femmes.xlsx',
 '1_Agriculture_valeur_ajoutée_par_travailleur.xlsx',
 '162_Agriculture_valeur_ajoutée.xlsx',
 '127_Prévalence_retard_croissance_taille_pour_âge.xlsx',
 '10_Enfants_au_travail_Hommes.xlsx',
 '66_Importations_biens_services.xlsx',
 '15_Scolarité_obligatoire_durée.xlsx',
 '69_Emploi_informel.xlsx',
 '185_Machines_agricoles_tracteurs.xlsx',
 '191_Importations_matières_premières_agricoles.xlsx',
 '18_Solde_compte_courant.xlsx',
 '50_PIB_par_personne_occupée.xlsx',
 "121_Pollution_de_l'air_PM2_5.xlsx",
 '147_Chômage_total_des_jeunes.xlsx',
 '70_Emploi_informel_féminin.xlsx',
 '106_Aide_publique_au_développement_nette_reçue.xlsx',
 '43_PIB_par_habitant.xlsx',
 '201_Population_non_agricole.xlsx',
 '188_Émissions_doxyde_nitreux_agricoles.xlsx',
 '67_Inflation_prix_à_laconsommatio.xlsx',
 '146_Chômage_total_des_jeunes_BIT.xlsx',
 '183_Terres_agricoles.xlsx',
 '58_RNB_parhabitant_dollar_US.xlsx',
 '.ipynb_checkpoints',
 '87_Aires_marines_protégées.xlsx',
 '28_Emploi_dans_lagriculture.xlsx',
 '148_Population_urbaine.xlsx',
 '158_Rendement_en_orge.xlsx',
 '168_Prélèvements_annuels_deau_douce_agriculture.xlsx',
 '19_Service_de_la_dette_aux_exportations.xlsx',
 '45_PIB_par_habitant_UCL_actuel.xlsx',
 '152_Travailleurs_salariés_hommes_BIT.xlsx',
 '40_PIB_actuel.xlsx',
 '125_Prévalence_de_insécurité_alimentaire_modérée_ou_sévère.xlsx',
 '7_pêches_de_capture_production.xlsx',
 '198_Indice_des_engagements_Accordgénéral_surlecommerce.xlsx',
 '190_Exportations_matières_premières_agricoles.xlsx',
 '171_Emploi_des_enfants_dans_lagriculture_hommes.xlsx',
 '31_Export_B&S_PIB.xlsx',
 '32_Export_B&S_croissance_an.xlsx',
 '53_RNB_USD_constant.xlsx',
 '172_Population_économiquement_active_dans_lagriculture.xlsx',
 'SPECULATIONS_AGRICOLE.xlsx',
 '202_Taux_de_croissance_duPIBagricole.xlsx',
 '143_Chômage_jeunes_femmes.xlsx',
 '122_Taux_pauvreté_1_90_dollarpar_jour.xlsx',
 '17_Travailleurs_familiaux_hom.xlsx',
 '151_Travailleurs_salariés_femmes_BIT.xlsx',
 '124_Enseignement_préscolaire_durée.xlsx',
 '141_Chômage_total.xlsx',
 '118_Médecins.xlsx',
 '186_Machines_agricoles_tracteurs.xlsx',
 '35_IDE_net_PIB.xlsx',
 '189_Population_agricole.xlsx',
 '16_Travailleurs_familiaux_fem.xlsx',
 '176_Salariés_agriculture_hommes.xlsx',
 '203_Taux_croissance_du_PIB_agricole_réel_par_habitant.xlsx',
 '179_Décaissements_bruts_de_lAPD_pour_le_secteur_de_lagriculture_de_la_foresterie_et_delapêche.xlsx',
 '48_PIB_par_habitant_PPA_dollar.xlsx',
 '145_Chômage_jeunes_hommes.xlsx',
 '12_Enfants_non_scolarisés.xlsx',
 'ELEVAGE.xlsx',
 '144_Chômage_jeunes_hommes_OIT.xlsx',
 '205_Exportations_agricoles_totales.xlsx',
 '128_Prévalence_retard_croissance_taille_pour_âge_femmes.xlsx']

In [126]:
df= pd.read_excel(data_links[-1], header= None).T
df.columns = df.iloc[0]
df= df.drop(0)
df.head()

,ANNEES,Prévalence du retard de croissance_ taille pour l'âge_ femmes (% d'enfants de moins de 5 ans)
1,1990,..
2,1991,..
3,1992,..
4,1993,27.3
5,1994,..

In [158]:
list_length_dates= []
df= pd.read_excel(data_links[3], header= None).T
df.columns = df.iloc[0]
df= df.drop(0)
#i= 0
for i in range(len(data_links)):
    dfs[i]= pd.read_excel(data_links[i], header= None).T
    dfs[i].columns = dfs[i].iloc[0]
    dfs[i]= dfs[i].drop(0)
    list_length_dates.append(len(dfs[i].ANNEES.value_counts()))
    if i != 3:
        df= df.join(dfs[i].set_index('ANNEES'), on= 'ANNEES')
    print(dfs[i])
    #df= dfs[max(list_length_dates)]

0  ANNEES PIB par habitant ($ US courants)
1    1990                          961.574
2    1991                          916.931
3    1992                          951.429
4    1993                          873.883
5    1994                          580.118
6    1995                          710.725
7    1996                          719.543
8    1997                          647.829
9    1998                           681.26
10   1999                          680.572
11   2000                          604.654
12   2001                          615.268
13   2002                          656.623
14   2003                          823.721
15   2004                          940.552
16   2005                          993.932
17   2006                           1040.9
18   2007                          1222.37
19   2008                          1411.93
20   2009                          1317.24
21   2010                          1280.23
22   2011                          1373.52
23   2012                          1329.98
24   2013                          1376.07
25   2014                          1396.66
26   2015                          1219.25
27   2016                           1269.9
28   2017                           1361.7
29   2018                          1465.59
30   2019                          1446.83
0  ANNEES  \
1    1963
2    1964
3    1965
4    1966
5    1967
6    1968
7    1969
8    1970
9    1971
10   1972
11   1973
12   1974
13   1975
14   1976
15   1977
16   1978
17   1979
18   1980
19   1981
20   1982
21   1983
22   1984
23   1985
24   1986
25   1987
26   1988
27   1989
28   1990
29   1991
30   1992
31   1993
32   1994
33   1995
34   1996
35   1997
36   1998
37   1999
38   2000
39   2001
40   2002
41   2003
42   2004
43   2005
44   2006
45   2007
46   2008
47   2009
48   2010
49   2011
50   2012

0  Décaissements bruts de l'APD pour la pêche, total des donateurs du CAD (USD courants)
1                                                  ..
2                                                  ..
3                                                  ..
4                                                  ..
5                                                  ..
6                                                  ..
7                                                  ..
8                                                  ..
9                                                  ..
10                                                 ..
11                                                 ..
12                                                 ..
13                                                 ..
14                                                 ..
15                                                 ..
16                                                 ..
17                                                 ..
18                                                 ..
19                                                 ..
20                                                 ..
21                                                 ..
22                                                 ..
23                                                 ..
24                                                 ..
25                                                 ..
26                                                 ..
27                                                 ..
28                                                 ..
29                                                 ..
30                                                 ..
31                                                 ..
32                                                 ..
33                                                 ..
34                                                 ..
35                                                 ..
36                                                 ..
37                                                 ..
38                                                 ..
39                                                 ..
40                                            6209067
41                                            7868769
42                                            5130120
43                                           13512967
44                                            9680895
45                                            3776281
46                                            8784058
47                                            4237403
48                                           10070522
49                                           10540076
50                                                 ..
0  ANNEES PIB par habitant (UCL constant)
1    1990                          552004
2    1991                          549383
3    1992                          539879
4    1993                          531168
5    1994                          516369
6    1995                          529722
7    1996                          526879
8    1997                          530365
9    1998                          548618
10   1999                          569967
11   2000                          574452
12   2001                          586498
13   2002                          576125
14   2003                          599599
15   2004                          619027
16   2005                          637322
17   2006                          636250
18   2007                          650257
19   2008                          658731
20   2009                          654503
21   2010                          659480
22   2011                          650839
23   2012                          665350
24   2013                          665244
25   2014                          689610
26   2015                          713204
27   2016                          737537
28   2017                          770292
29   2018                          796951
30   2019                          816205
0  ANNEES Superficie agricole irriguée
1    1963                           ..
2    1964                           ..
3    1965                           ..
4    1966                           ..
5    1967                           ..
6    1968                           ..
7    1969                           ..
8    1970                           ..
9    1971                           ..
10   1972                           ..
11   1973                           ..
12   1974                           ..
13   1975                           ..
14   1976                           ..
15   1977                           ..
16   1978                           ..
17   1979                           ..
18   1980                           ..
19   1981                           ..
20   1982                           ..
21   1983                           ..
22   1984                           ..
23   1985                           ..
24   1986                           ..
25   1987                           ..
26   1988                           ..
27   1989                           ..
28   1990                           ..
29   1991                           ..
30   1992                           ..
31   1993                           ..
32   1994                           ..
33   1995                           ..
34   1996                           ..
35   1997                           ..
36   1998                           ..
37   1999                           ..
38   2000                           ..
39   2001                           ..
40   2002                        56000
41   2003                        54000
42   2004                        60000
43   2005                        67000
44   2006                        63000
45   2007                           ..
46   2008                           ..
47   2009                           ..
48   2010                           ..
49   2011                           ..
50   2012                           ..
0  ANNEES Croissance du PIB (% annuel)
1    1990                    -0.675638
2    1991                      2.55583
3    1992                      1.24265
4    1993                      1.30078
5    1994                   -0.0173287
6    1995                      5.36347
7    1996                      2.01213
8    1997                      3.12403
9    1998                      5.89867
10   1999                      6.34712
11   2000                      3.19899
12   2001                      4.58092
13   2002                     0.654804
14   2003                      6.68323
15   2004                      5.87077
16   2005                      5.62261
17   2006                      2.46157
18   2007                      4.93849
19   2008                      4.05638
20   2009                      2.09253
21   2010                      3.56275
22   2011                      1.45839
23   2012                      5.11739
24   2013                      2.82211
25   2014                       6.6135
26   2015                      6.36704
27   2016                      6.35607
28   2017                      7.40749
29   2018                      6.37956
30   2019                      5.27119
0  ANNEES  \
1    1990
2    1991
3    1992
4    1993
5    1994
6    1995
7    1996
8    1997
9    1998
10   1999
11   2000
12   2001
13   2002
14   2003
15   2004
16   2005
17   2006
18   2007
19   2008
20   2009
21   2010
22   2011
23   2012
24   2013
25   2014
26   2015
27   2016
28   2017
29   2018
30   2019

0  Chômage_ hommes (% de la population active masculine) (estimation modélisée du BIT)
1                                                  ..
2                                                4.47
3                                                4.51
4                                                4.56
5                                                4.57
6                                                4.53
7                                                4.57
8                                                4.53
9                                                4.51
10                                               4.55
11                                               4.53
12                                               4.48
13                                               4.53
14                                               5.31
15                                               6.23
16                                               7.12
17                                               8.01
18                                               7.83
19                                                7.8
20                                               8.15
21                                               8.18
22                                               8.21
23                                               7.77
24                                               7.42
25                                               6.86
26                                               6.39
27                                               6.34
28                                               6.23
29                                               6.15
30                                               6.09
0  ANNEES  \
1    1990
2    1991
3    1992
4    1993
5    1994
6    1995
7    1996
8    1997
9    1998
10   1999
11   2000
12   2001
13   2002
14   2003
15   2004
16   2005
17   2006
18   2007
19   2008
20   2009
21   2010
22   2011
23   2012
24   2013
25   2014
26   2015
27   2016
28   2017
29   2018
30   2019

0  Chômage féminin (% de la population active féminine) (estimation nationale)
1                                                  ..
2                                                  ..
3                                                  ..
4                                                  ..
5                                                  ..
6                                                  ..
7                                                  ..
8                                                  ..
9                                                  ..
10                                                 ..
11                                                 ..
12                                                 ..
13                                                 ..
14                                                 ..
15                                                 ..
16                                                 ..
17                                              13.64
18                                                 ..
19                                                 ..
20                                                 ..
21                                                 ..
22                                              13.41
23                                                 ..
24                                                 ..
25                                                 ..
26                                                7.3
27                                               4.68
28                                                3.5
29                                                 ..
30                                                 ..
0  ANNEES  \
1    1990
2    1991
3    1992
4    1993
5    1994
6    1995
7    1996
8    1997
9    1998
10   1999
11   2000
12   2001
13   2002
14   2003
15   2004
16   2005
17   2006
18   2007
19   2008
20   2009
21   2010
22   2011
23   2012
24   2013
25   2014
26   2015
27   2016
28   2017
29   2018
30   2019

0  Taux de pauvreté rurale aux seuils de pauvreté nationaux (% de la population rurale)
1                                                  ..
2                                                  ..
3                                                  ..
4                                                  ..
5                                                  ..
6                                                  ..
7                                                  ..
8                                                  ..
9                                                  ..
10                                                 ..
11                                                 ..
12                                                 ..
13                                                 ..
14                                                 ..
15                                                 ..
16                                                 ..
17                                                 ..
18                                                 ..
19                                                 ..
20                                                 ..
21                                                 ..
22                                                 ..
23                                                 ..
24                                                 ..
25                                                 ..
26                                                 ..
27                                                 ..
28                                                 ..
29                                                 ..
30                                                 ..
0  ANNEES Dépenses de consommation finale des ménages (% de croissance annuel)
1    1990                                        1.08104e+10
2    1991                                        1.14591e+10
3    1992                                        1.19875e+10
4    1993                                        1.23155e+10
5    1994                                        1.25457e+10
6    1995                                        1.35496e+10
7    1996                                        1.42732e+10
8    1997                                        1.49606e+10
9    1998                                        1.60766e+10
10   1999                                        1.72483e+10
11   2000                                        1.81786e+10
12   2001                                        1.94814e+10
13   2002                                        1.98695e+10
14   2003                                        2.16838e+10
15   2004                                        2.36217e+10
16   2005                                        2.57463e+10
17   2006                                        2.72543e+10
18   2007                                         2.9374e+10
19   2008                                        3.12334e+10
20   2009                                        3.18845e+10
21   2010                                        3.34457e+10
22   2011                                        3.44152e+10
23   2012                                        3.64272e+10
24   2013                                        3.72459e+10
25   2014                                        3.93588e+10
26   2015                                        4.23633e+10
27   2016                                        4.49117e+10
28   2017                                        4.80206e+10
29   2018                                        5.24417e+10
30   2019                                         5.6562e+10
0  ANNEES  \
1    1990
2    1991
3    1992
4    1993
5    1994
6    1995
7    1996
8    1997
9    1998
10   1999
11   2000
12   2001
13   2002
14   2003
15   2004
16   2005
17   2006
18   2007
19   2008
20   2009
21   2010
22   2011
23   2012
24   2013
25   2014
26   2015
27   2016
28   2017
29   2018
30   2019

0  Enfants non scolarisés, filles (% des filles en âge d'aller à l'école primaire)
1                                             61.6701
2                                                  ..
3                                             61.7429
4                                                  ..
5                                                  ..
6                                                  ..
7                                              55.894
8                                             51.3001
9                                              48.044
10                                            49.2255
11                                            44.9329
12                                                 ..
13                                                 ..
14                                            37.0565
15                                            37.4437
16                                            35.9935
17                                            32.3904
18                                            29.3706
19                                             27.686
20                                            26.8751
21                                            25.3197
22                                            24.2091
23                                            20.7602
24                                            21.7704
25                                            20.8459
26                                            20.6884
27                                                 ..
28                                                 ..
29                                                 ..
30                                            20.9798
0  ANNEES PIB (LCU constant)
1    1990        4.15455e+12
2    1991      4260737136600
3    1992      4313683068500
4    1993        4.36979e+12
5    1994      4369037385900
6    1995      4603369521500
7    1996      4695995075700
8    1997      4842699524800
9    1998      5128354513000
10   1999      5453857112300
11   2000      5628325348800
12   2001      5886154230100
13   2002      5924696982700
14   2003      6320658000900
15   2004      6691729434500
16   2005      7067979072500
17   2006      7241962342900
18   2007      7599605572900
19   2008      7907874128700
20   2009      8073348536600
21   2010      8360981389400
22   2011      8482916994800
23   2012      8917021300200
24   2013      9168669062100
25   2014      9775039000000
26   2015     10397420000000
27   2016     11058287144900
28   2017     11877428237600
29   2018     12635155492700

0  ANNEES  \
1    1990
2    1991
3    1992
4    1993
5    1994
6    1995
7    1996
8    1997
9    1998
10   1999
11   2000
12   2001
13   2002
14   2003
15   2004
16   2005
17   2006
18   2007
19   2008
20   2009
21   2010
22   2011
23   2012
24   2013
25   2014
26   2015
27   2016
28   2017
29   2018
30   2019

0  Emploi dans l'agriculture, féminin (% de l'emploi féminin) (estimation modélisée de l'OIT)
1                                                  ..
2                                               47.88
3                                               47.71
4                                                47.5
5                                                47.3
6                                               46.79
7                                               46.41
8                                               45.97
9                                               45.33
10                                              44.61
11                                              43.95
12                                              43.16
13                                              42.89
14                                              41.67
15                                              40.77
16                                              39.59
17                                              38.88
18                                              37.92
19                                              36.67
20                                              35.59
21                                              34.47
22                                              33.72
23                                               32.4
24                                              31.28
25                                              29.92
26                                              28.68
27                                              27.64
28                                              26.56
29                                              25.59
30                                              24.75
0  ANNEES RNB par habitant (USD constant 2010)
1    1990                              1043.62
2    1991                               1038.1
3    1992                              1030.14
4    1993                              1004.23
5    1994                               976.77
6    1995                              1004.34
7    1996                               1012.1
8    1997                              1017.48
9    1998                              1056.17
10   1999                              1091.12
11   2000                              1098.33
12   2001                              1124.63
13   2002                              1101.65
14   2003                              1151.38
15   2004                              1191.25
16   2005                              1227.33
17   2006                               1228.6
18   2007                               1255.8
19   2008                              1275.19
20   2009                              1257.37
21   2010                              1268.38
22   2011                              1243.99
23   2012                               1270.7
24   2013                              1269.71
25   2014                              1312.91
26   2015                              1353.21
27   2016                              1392.52
28   2017                              1451.55
29   2018                              1505.63
30   2019                               1550.7
0  ANNEES  \
1    1963
2    1964
3    1965
4    1966
5    1967
6    1968
7    1969
8    1970
9    1971
10   1972
11   1973
12   1974
13   1975
14   1976
15   1977
16   1978
17   1979
18   1980
19   1981
20   1982
21   1983
22   1984
23   1985
24   1986
25   1987
26   1988
27   1989
28   1990
29   1991
30   1992
31   1993
32   1994
33   1995
34   1996
35   1997
36   1998
37   1999
38   2000
39   2001
40   2002
41   2003
42   2004
43   2005
44   2006
45   2007
46   2008
47   2009
48   2010
49   2011
50   2012

0  Décaissements bruts de l'APD pour l'agriculture, total des donateurs du CAD (USD courants)
1                                                  ..
2                                                  ..
3                                                  ..
4                                                  ..
5                                                  ..
6                                                  ..
7                                                  ..
8                                                  ..
9                                                  ..
10                                                 ..
11                                                 ..
12                                                 ..
13                                                 ..
14                                                 ..
15                                                 ..
16                                                 ..
17                                                 ..
18                                                 ..
19                                                 ..
20                                                 ..
21                                                 ..
22                                                 ..
23                                                 ..
24                                                 ..
25                                                 ..
26                                                 ..
27                                                 ..
28                                                 ..
29                                                 ..
30                                                 ..
31                                                 ..
32                                                 ..
33                                                 ..
34                                                 ..
35                                                 ..
36                                                 ..
37                                                 ..
38                                                 ..
39                                                 ..
40                                           28618804
41                                           39899720
42                                           41123502
43                                           29498679
44                                           45462890
45                                           55071228
46                                           48170971
47                                           51862565
48                                           75053064
49                                           94992586
50                                                 ..
0  ANNEES Emploi dans l'agriculture (% de l'emploi total)
1    1963                                              ..
2    1964                                              ..
3    1965                                              ..
4    1966                                              ..
5    1967                                              ..
6    1968                                              ..
7    1969                                              ..
8    1970                                              ..
9    1971                                              ..
10   1972                                              ..
11   1973                                              ..
12   1974                                              ..
13   1975                                              ..
14   1976                                              ..
15   1977                                              ..
16   1978                                              ..
17   1979                                              ..
18   1980                                              ..
19   1981                                              ..
20   1982                                              ..
21   1983                                              ..
22   1984                                              ..
23   1985                                              ..
24   1986                                              ..
25   1987                                              ..
26   1988                                              ..
27   1989                                              ..
28   1990                                              ..
29   1991                                              ..
30   1992                                              ..
31   1993                                              ..
32   1994                                              ..
33   1995                                              ..
34   1996                                              ..
35   1997                                              ..
36   1998                                              ..
37   1999                                              ..
38   2000                                              ..
39   2001                                            45.6
40   2002                                              ..
41   2003                                              ..
42   2004                                              ..
43   2005                                              ..
44   2006                                            33.7
45   2007                                              ..
46   2008                                              ..
47   2009                                              ..
48   2010                                              ..
49   2011                                              ..
50   2012                                              ..
0  ANNEES  \
1    1963
2    1964
3    1965
4    1966
5    1967
6    1968
7    1969
8    1970
9    1971
10   1972
11   1973
12   1974
13   1975
14   1976
15   1977
16   1978
17   1979
18   1980
19   1981
20   1982
21   1983
22   1984
23   1985
24   1986
25   1987
26   1988
27   1989
28   1990
29   1991
30   1992
31   1993
32   1994
33   1995
34   1996
35   1997
36   1998
37   1999
38   2000
39   2001
40   2002
41   2003
42   2004
43   2005
44   2006
45   2007
46   2008
47   2009
48   2010
49   2011
50   2012

0  Population économiquement active dans l'agriculture, femmes (FAO, nombre)
1                                                  ..
2                                                  ..
3                                                  ..
4                                                  ..
5                                                  ..
6                                                  ..
7                                                  ..
8                                                  ..
9                                                  ..
10                                                 ..
11                                                 ..
12                                                 ..
13                                                 ..
14                                                 ..
15                                                 ..
16                                                 ..
17                                                 ..
18                                             829000
19                                             845000
20                                             873000
21                                             892000
22                                             901000
23                                             925000
24                                             949000
25                                             973000
26                                             999000
27                                            1020000
28                                            1047000
29                                            1071000
30                                            1098000
31                                            1124000
32                                            1154000
33                                            1186000
34                                            1216000
35                                            1247000
36                                            1280000
37                                            1316000
38                                            1350000
39                                            1387000
40                                            1422000
41                                            1463000
42                                            1506000
43                                            1550000
44                                            1589000
45                                            1647000
46                                            1699000
47                                            1754000
48                                            1811000
49                                            1870000
50                                            1931000
0  ANNEES Tracteurs agricoles, exportations
1    1963                                12
2    1964                                 7
3    1965                                 3
4    1966                                 3
5    1967                                24
6    1968                                13
7    1969                                ..
8    1970                                15
9    1971                                15
10   1972                                12
11   1973                                30
12   1974                                 3
13   1975                                60
14   1976                                 6
15   1977                                 4
16   1978                                13
17   1979                                 6
18   1980                                 1
19   1981                                12
20   1982                                33
21   1983                                 3
22   1984                                 5
23   1985                                 5
24   1986                                 5
25   1987                                16
26   1988                                 1
27   1989                                10
28   1990                                 4
29   1991                                 1
30   1992                                10
31   1993                                10
32   1994                                 8
33   1995                                 1
34   1996                                 2
35   1997                                20
36   1998                                25
37   1999                                ..
38   2000                                10
39   2001                                 7
40   2002                                 1
41   2003                                13
42   2004                                 1
43   2005                                18
44   2006                                 5
45   2007                                26
46   2008                                ..
47   2009                                ..
48   2010                                ..
49   2011                                ..
50   2012                                ..
0  ANNEES Croissance du RNB par habitant (% annuel)
1    1990                                  -3.14194
2    1991                                 -0.528913
3    1992                                  -0.76692
4    1993                                  -2.51491
5    1994                                  -2.73449
6    1995                                   2.82268
7    1996                                  0.772375
8    1997                                  0.531819
9    1998                                   3.80277
10   1999                                    3.3086
11   2000                                  0.660543
12   2001                                   2.39472
13   2002                                  -2.04306
14   2003                                   4.51387
15   2004                                   3.46274
16   2005                                   3.02926
17   2006                                  0.103475
18   2007                                   2.21388
19   2008                                    1.5442
20   2009                                  -1.39791
21   2010                                  0.876152
22   2011                                   -1.9236
23   2012                                    2.1478
24   2013                                -0.0781803
25   2014                                   3.40258
26   2015                                   3.06924
27   2016                                   2.90524
28   2017                                   4.23912
29   2018                                    3.7252
30   2019                                   2.99346
0  ANNEES Tracteurs agricoles, exportations (FAO, $ US courants)
1    1963                                              60000
2    1964                                              40000
3    1965                                              40000
4    1966                                              69000
5    1967                                              80000
6    1968                                             212000
7    1969                                             212000
8    1970                                             250000
9    1971                                             250000
10   1972                                             200000
11   1973                                              76000
12   1974                                              20000
13   1975                                             246000
14   1976                                             105000
15   1977                                              64000
16   1978                                             184000
17   1979                                             258000
18   1980                                               6000
19   1981                                             265000
20   1982                                             747000
21   1983                                              78000
22   1984                                             120000
23   1985                                             123000
24   1986                                             130000
25   1987                                             371000
26   1988                                               3000
27   1989                                             315000
28   1990                                              32000
29   1991                                               4000
30   1992                                              80000
31   1993                                              80000
32   1994                                              72000
33   1995                                               8000
34   1996                                              10000
35   1997                                              62000
36   1998                                              37000
37   1999                                                 ..
38   2000                                              65000
39   2001                                              73000
40   2002                                              14000
41   2003                                             144000
42   2004                                              15000
43   2005                                             173000
44   2006                                              44000
45   2007                                             428000
46   2008                                                 ..
47   2009                                                 ..
48   2010                                                 ..
49   2011                                                 ..

0  ANNEES Encours de la dette extérieure (% du RNB)
1    1990                                   53.2696
2    1991                                   51.8957
3    1992                                   49.3249
4    1993                                   54.9211
5    1994                                   77.5819
6    1995                                   65.0332
7    1996                                   59.7149
8    1997                                   65.1284
9    1998                                   64.9008
10   1999                                   62.3237
11   2000                                   62.6277
12   2001                                   60.7006
13   2002                                   61.9285
14   2003                                   51.2031
15   2004                                   39.1006
16   2005                                   35.3211
17   2006                                   16.4329
18   2007                                   18.1942
19   2008                                   16.8675
20   2009                                    23.142
21   2010                                   24.3115
22   2011                                   24.5483
23   2012                                   27.9039
24   2013                                   28.0064
25   2014                                   29.0002
26   2015                                   33.9689
27   2016                                   36.0783
28   2017                                   43.6028
29   2018                                     52.54
30   2019                                   58.8307
0  ANNEES Agriculture, valeur ajoutée (% de croissance annuel)
1    1963                                            10.4214
2    1964                                            2.29877
3    1965                                            7.23947
4    1966                                           -10.5873
5    1967                                            9.01943
6    1968                                           0.466695
7    1969                                            1.94257
8    1970                                            5.75808
9    1971                                           -16.4904
10   1972                                            23.8274
11   1973                                           -16.0985
12   1974                                            23.1151
13   1975                                            4.21709
14   1976                                            14.5672
15   1977                                           -6.87961
16   1978                                           -23.6148
17   1979                                            27.1474
18   1980                                           -18.1663
19   1981                                            15.0141
20   1982                                            8.62858
21   1983                                           -24.5618
22   1984                                             11.316
23   1985                                            17.7596
24   1986                                             4.7851
25   1987                                            5.60477
26   1988                                           -15.5341
27   1989                                            13.6948
28   1990                                           -9.47918
29   1991                                            6.06293
30   1992                                           -5.97832
31   1993                                            7.77606
32   1994                                          -0.140097
33   1995                                            9.36452
34   1996                                           -3.68006
35   1997                                          -0.928775
36   1998                                           0.777342
37   1999                                            13.7044
38   2000                                            2.40182
39   2001                                            1.27406
40   2002                                           -22.2478
41   2003                                            20.4844
42   2004                                            1.88043
43   2005                                            11.1184
44   2006                                           -7.88901
45   2007                                           -5.99151
46   2008                                            19.9318
47   2009                                            11.6167
48   2010                                            4.98715
49   2011                                           -11.1362
50   2012                                                 ..

XLRDError: Unsupported format, or corrupt file: Expected BOF record; found b'\x00\x00\x00\x01Bud1'

In [138]:
pd.set_option("max_columns", 200)

In [139]:
df

,ANNEES,Superficie agricole irriguée,PIB par habitant ($ US courants),"Décaissements bruts de l'APD pour la pêche, total des donateurs du CAD (USD courants)",PIB par habitant (UCL constant),Croissance du PIB (% annuel),Chômage_ hommes (% de la population active masculine) (estimation modélisée du BIT),Chômage féminin (% de la population active féminine) (estimation nationale),Taux de pauvreté rurale aux seuils de pauvreté nationaux (% de la population rurale),Dépenses de consommation finale des ménages (% de croissance annuel),"Enfants non scolarisés, filles (% des filles en âge d'aller à l'école primaire)",PIB (LCU constant),"Emploi dans l'agriculture, féminin (% de l'emploi féminin) (estimation modélisée de l'OIT)",RNB par habitant (USD constant 2010),"Décaissements bruts de l'APD pour l'agriculture, total des donateurs du CAD (USD courants)",Emploi dans l'agriculture (% de l'emploi total),"Population économiquement active dans l'agriculture, femmes (FAO, nombre)","Tracteurs agricoles, exportations",Croissance du RNB par habitant (% annuel),"Tracteurs agricoles, exportations (FAO, $ US courants)",Taux de pauvreté multidimensionnelle (% de la population totale),Encours de la dette extérieure (% du RNB),"Agriculture, valeur ajoutée (% de croissance annuel)"
1,1963,..,NaN,..,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,..,..,..,12,NaN,60000,NaN,NaN,10.4214
2,1964,..,NaN,..,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,..,..,..,7,NaN,40000,NaN,NaN,2.29877
3,1965,..,NaN,..,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,..,..,..,3,NaN,40000,NaN,NaN,7.23947
4,1966,..,NaN,..,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,..,..,..,3,NaN,69000,NaN,NaN,-10.5873
5,1967,..,NaN,..,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,..,..,..,24,NaN,80000,NaN,NaN,9.01943
6,1968,..,NaN,..,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,..,..,..,13,NaN,212000,NaN,NaN,0.466695
7,1969,..,NaN,..,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,..,..,..,..,NaN,212000,NaN,NaN,1.94257
8,1970,..,NaN,..,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,..,..,..,15,NaN,250000,NaN,NaN,5.75808
9,1971,..,NaN,..,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,..,..,..,15,NaN,250000,NaN,NaN,-16.4904
10,1972,..,NaN,..,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,..,..,..,12,NaN,200000,NaN,NaN,23.8274
11,1973,..,NaN,..,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,..,..,..,30,NaN,76000,NaN,NaN,-16.0985
12,1974,..,NaN,..,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,..,..,..,3,NaN,20000,NaN,NaN,23.1151
13,1975,..,NaN,..,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,..,..,..,60,NaN,246000,NaN,NaN,4.21709
14,1976,..,NaN,..,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,..,..,..,6,NaN,105000,NaN,NaN,14.5672
15,1977,..,NaN,..,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,..,..,..,4,NaN,64000,NaN,NaN,-6.87961
16,1978,..,NaN,..,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,..,..,..,13,NaN,184000,NaN,NaN,-23.6148
17,1979,..,NaN,..,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,..,..,..,6,NaN,258000,NaN,NaN,27.1474
18,1980,..,NaN,..,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,..,..,829000,1,NaN,6000,NaN,NaN,-18.1663
19,1981,..,NaN,..,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,..,..,845000,12,NaN,265000,NaN,NaN,15.0141
20,1982,..,NaN,..,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,..,..,873000,33,NaN,747000,NaN,NaN,8.62858
21,1983,..,NaN,..,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,..,..,892000,3,NaN,78000,NaN,NaN,-24.5618
22,1984,..,NaN,..,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,..,..,901000,5,NaN,120000,NaN,NaN,11.316
23,1985,..,NaN,..,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,..,..,925000,5,NaN,123000,NaN,NaN,17.7596
24,1986,..,NaN,..,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,..,..,949000,5,NaN,130000,NaN,NaN,4.7851
25,1987,..,NaN,..,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,..,..,973000,16,NaN,371000,NaN,NaN,5.60477
26,1988,..,NaN,..,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,..,..,999000,1,NaN,3000,NaN,NaN,-15.5341
27,1989,..,NaN,..,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,..,..,1020000,10,NaN,315000,NaN,NaN,13.6948
28,1990,..,961.574,..,552004,-0.675638,..,..,..,1.08104e+10,61.6701,4.15455e+12,..,1043.62,..,..,1047000,4,-3.14194,32000,145.2,53.2696,-9.47918
29,1991,..,916.931,..,549383,2.55583,4.47,..,..,1.14591e+10,..,4260737136600,47.88,1038.1,..,..,1071000,1,-0.528913,4000,143.2,51.8957,6.06293
30,1992,..,951.429,..,539879,1.24265,4.51,..,..,1.19875e+10,61.7429,4313683068500,47.71,1030.14,..,..,1098000,10,-0.76692,80000,142.6,49.3249,-5.97832
31,1993,..,873.883,..,531168,1.30078,4.56,..,..,1.23155e+10,..,4.36979e+12,47.5,1004.23,..,..,1124000,10,-2.51491,80000,143,54.9211,7.77606
32,1994,..,580.118,..,516369,-0.0173287,4.57,..,..,1.25457e+10,..,4369037385900,47.3,976.77,..,..,1154000,8,-2.73449,72000,143.9,77.5819,-0.140097
33,1995,..,710.725,..,529722,5.36347,4.53,..,..,1.35496e+10,..,4603369521500,46.79,1004.34,..,..,1186000,1,2.82268,8000,145,65.0332,9.36452
34,1996,..,719.543,..,526879,2.01213,4.57,..,..,1.42732e+10,55.894,4695995075700,46.41,1012.1,..,..,1216000,2,0.772375,10000,145.6,59.7149,-3.68006
35,1997,..,647.829,..,530365,3.12403,4.53,..,..,1.49606e+10,51.3001,4842699524800,45.97,1017.48,..,..,1247000,20,0.531819,62000,145.3,65.1284,-0.928775
36,1998,..,681.26,..,548618,5.89867,4.51,..,..,1.60766e+10,48.044,5128354513000,45.33,1056.17,..,..,1280000,25,3.80277,37000,143.8,64.9008,0.777342
37,1999,..,680.572,..,569967,6.34712,4.55,..,..,1.72483e+10,49.2255,5453857112300,44.61,1091.12,..,..,1316000,..,3.3086,..,140.6,62.3237,13.7044
38,2000,..,604.654,..,574452,3.19899,4.53,..,..,1.81786e+10,44.9329,5628325348800,43.95,1098.33,..,..,1350000,10,0.660543,65000,135.4,62.6277,2.40182
39,2001,..,615.268,..,586498,4.58092,4.48,..,..,1.94814e+10,..,5886154230100,43.16,1124.63,..,45.6,1387000,7,2.39472,73000,128.7,60.7006,1.27406
40,2002,56000,656.623,6209067,576125,0.654804,4.53,..,..,1.98695e+10,..,5924696982700,42.89,1101.65,28618804,..,1422000,1,-2.04306,14000,120.9,61.9285,-22.2478
41,2003,54000,823.721,7868769,599599,6.68323,5.31,..,..,2.16838e+10,37.0565,6320658000900,41.67,1151.38,39899720,..,1463000,13,4.51387,144000,112.7,51.2031,20.4844
42,2004,60000,940.552,5130120,619027,5.87077,6.23,..,..,2.36217e+10,37.4437,6691729434500,40.77,1191.25,41123502,..,1506000,1,3.46274,15000,104.6,39.1006,1.88043
43,2005,67000,993.932,13512967,637322,5.62261,7.12,..,..,2.57463e+10,35.9935,7067979072500,39.59,1227.33,29498679,..,1550000,18,3.02926,173000,97.1,35.3211,11.1184
44,2006,63000,1040.9,9680895,636250,2.46157,8.01,13.64,..,2.72543e+10,32.3904,7241962342900,38.88,1228.6,45462890,33.7,1589000,5,0.103475,44000,90.3,16.4329,-7.88901
45,2007,..,1222.37,3776281,650257,4.93849,7.83,..,..,2.9374e+10,29.3706,7599605572900,37.92,1255.8,55071228,..,1647000,26,2.21388,428000,84.5,18.1942,-5.99151
46,2008,..,1411.93,8784058,658731,4.05638,7.8,..,..,3.12334e+10,27.686,7907874128700,36.67,1275.19,48170971,..,1699000,..,1.5442,..,79.4,16.8675,19.9318
47,2009,..,1317.24,4237403,654503,2.09253,8.15,..,..,3.18845e+10,26.8751,8073348536600,35.59,1257.37,51862565,..,1754000,..,-1.39791,..,74.9,23.142,11.6167
48,2010,..,1280.23,10070522,659480,3.56275,8.18,..,..,3.34457e+10,25.3197,8360981389400,34.47,1268.38,75053064,..,1811000,..,0.876152,..,71,24.3115,4.98715
49,2011,..,1373.52,10540076,650839,1.45839,8.21,13.41,..,3.44152e+10,24.2091,8482916994800,33.72,1243.99,94992586,..,1870000,..,-1.9236,..,67.6,24.5483,-11.1362
50,2012,..,1329.98,..,665350,5.11739,7.77,..,..,3.64272e+10,20.7602,8917021300200,32.4,1270.7,..,..,1931000,..,2.1478,..,64.5,27.9039,..

In [113]:
list_max_dates

[30,
 50,
 30,
 50,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 50,
 50,
 50,
 50,
 30,
 50,
 30,
 30,
 50]